.form-container {
    background: #f3f3f3;
}

.input-container {
    margin: 20px;
}

.upload-container {
    margin-top: 5px;
    background: #fff;
    padding: 20px;
    border: dashed 1px rgb(54 54 54);
    cursor: pointer;
}

.upload-preview-container {
    margin: 10px;
}

.upload-preview-item {
    margin: 5px 0px;
    background: #70ebff;
    padding: 5px 10px;
    border-radius: 3px;
}

.file-rejection-container {
    background: #ff9d70;
    border-radius: 3px;
    margin: 10px;
}

.file-rejection-item {
    margin: 5px 0px;
    padding: 5px 10px;    
}

.file-rejection-error-item {
    margin: 5px 0px;
    padding: 5px 10px;
}

.upload-container:hover {
    background: rgb(230, 230, 230);
}

label {
    font-weight: 600;
}